p {
  color: blue
}

h1 {
  font-size: 55px;
}

#server-side-intro {
color : red;
}

.my-brand {
  font-size: 18px ;
  font-style: italic ;
  text-transform : lowercase;
  color:yellow ;
  }

/*
This is a comments
*/
